*{
    margin: 0;
}

body{
    background-image: url(./assets/read_news.jpg), lightgray 50% / cover no-repeat;
    background-color: black;
}

.logo{
    width: 389px;
    height: 94px;
    padding-top: 50px;
    padding-left: 30px;
}

h2{
    color: var(--Green, #08C05E);
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    padding-left: 36px;
    padding-top: 92px;
    padding-bottom: 8px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;

}

h3{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    padding-left: 36px;
    padding-bottom: 8px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

p{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: 138.735%; 
    padding-left: 36px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

form{
    color: #A8A8A8;
    font-size: 14px;
    line-height: 138.735%; 
    padding-left: 36px;
    padding-top: 50px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

input, button{
    background-color: rgba(255, 255, 255, 0.5);
}
input{
    background: #FFF;
    width: 750px;
    height: 48px;
    padding-left: 36px;
    position: relative;
    border: none;
}


button{
    width: 48px;
    height: 50px;
    background: #8257E5;
    position: absolute;
    right: 429px;
    top: 405px;
    border: none;
}

.pc{
    position: absolute;
    right: 1px;
    z-index: 0;
    width: 711px;
    height: 784px; 
}

a{
    color: blueviolet;
    text-decoration: none;
    padding-left: 36px;
    padding-top: 72px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}
